[submodule "third_party/hlslib"]
	path = third_party/hlslib
	url = https://github.com/definelicht/hlslib
[submodule "third_party/optional-lite"]
	path = third_party/optional-lite
	url = https://github.com/martinmoene/optional-lite
[submodule "third_party/cnpy"]
	path = third_party/cnpy
	url = https://github.com/rogersce/cnpy
[submodule "libnpy"]
	path = libnpy
	url = https://github.com/llohse/libnpy
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
